#left p {
    max-width: 400px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    font: 600 18px/1 SfProReg;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 22px;
}

#left_first_1, #fifth_span_2 {
    font-family: SfProMed;
}

#left_first {
    transform: translate(30px, 110px);
}

#left_second {
    display: flex;
}

#data_box2 {
    font: 500 18px/1 SfProReg;
    letter-spacing: 1px;
    width: 180px;
    height: 40px;
    background-color: #A4A4A4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transform: translate(30px, 175px);
}

#data_box4 {
    font: 500 18px/1 SfProReg;
    letter-spacing: 1px;
    width: 180px;
    height: 40px;
    background-color: #A4A4A4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transform: translate(30px, 310px);
}


#left_second img {
    object-fit: cover;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    transform: translate(-20px, 140px);
}

#left #left_third {
    padding: 27px 20px;
    width: 390px;
    transform: translate(25px, 260px);
}

#left_fourth {
    display: flex;
}

#left_fourth img {
    object-fit: cover;
    border-radius: 15px;
    width: 260px;
    height: 170px;
    transform: translate(-30px, 270px);
}


#third_span_2, #fifth_span_1, #fourth_span_2 {
    font-family: SfProMed;
    font-weight: 900;
    background: linear-gradient(to right, #03BE3D, #006D22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#left_fifth {
    transform: translate(30px, 280px);
}

#fifth_span_2 {
    color: #B4C300;
}

























@media screen and (max-width: 1450px){
    #left p {
        width: auto;
        border-radius: 15px;
        font-size: 16px;
        font-family: SfProReg;
        padding: 18px;
        max-width: 350px;
        line-height: 18px;
    }
    
    #left_first {
        transform: translate(30px, 115px);
    }
    
    #data_box2 {
        width: 140px;
        height: 38px;
        font-size: 15px;
        border-radius: 6px;
        transform: translate(30px, 185px);
    }
    
    #left_second img {
        width: 260px;
        height: 170px;
        transform: translate(0, 132px);
    }
    
    #left #left_third {
        padding: 18px;
        width: 390px;
        transform: translate(25px, 260px);
    }
    
    #left_fourth img {
        border-radius: 15px;
        width: 210px;
        height: 169px;
        transform: translate(-10px, 300px);
    }
    
    #data_box4 {
        width: 140px;
        height: 38px;
        font-size: 15px;
        transform: translate(30px, 365px);
    }
    #left_fifth {
        transform: translate(30px,320px);
    }
}






@media screen and (max-width: 1120px){
    #left p {
        width: 280px;
        border-radius: 16px;
        font-size: 18px;
        font-family: SfProReg;
        padding: 20px;
    }
    #left_first {
        transform: translate(30px, 100px);
        font-size: 19px;
        padding: 27px 20px;
        letter-spacing: 1.25px;
    }
    #left_first > br{
        display: none;
    }
    #data_box2 {
        transform: translate(30px, 138px);
    }
    #left #left_third {
        padding: 22px 25px;
        width: 290px;
        transform: translate(25px, 325px);
    }
    #data_box4 {
        width: 140px;
        height: 38px;
        font-size: 15px;
        transform: translate(30px, 405px);
    }

    #left_fifth {
        transform: translate(30px, 465px);
    }
}



@media screen and (max-width: 770px){

    #left p {
        font: 500 18px/1 SfProReg;
        width: 157px;
        height: 65px;
        border-radius: 8px;
        font-size: 10px;
        padding: 13px;
        letter-spacing: 0.4px;
        line-height: 11px;
    }
    #left_first {
        transform: translate(30px, 85px);
        font-size: 19px;
        padding: 27px 20px;
        letter-spacing: 0;
        min-width: 110px;
    }
    #data_box2 {
        padding-top: 1.5px;
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(30px, 137px);
        letter-spacing: 0;
    }
    #left #left_third {
        padding: 13px;
        height: auto;
        width: 167px;
        transform: translate(25px, 293px);
        min-width: 110px;
    }
    #data_box4 {
        padding-top: 1px;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(30px, 354px);
        letter-spacing: 0;
    }

    p#left_fifth{
        transform: translate(30px, 432px);
        height: auto;
        min-width: 110px;
    }
}








@media screen and (max-width: 440px){

    #left p {
        transform: translate(30px, 65px);
        width: 130px;
        height: auto;
        border-radius: 8px;
        font-size: 10px;
        padding: 10px;
    }
    p#left_first{
        min-height: 62px;
        height: 70px;
    }

    #data_box2 {
        transform: translate(30px, 92px);
    }

    #left #left_third {
        padding: 10px;
        height: auto;
        width: 130px;
        transform: translate(25px, 253px);
    }
    p#left_fifth{
        transform: translate(30px, 340px);
        height: auto;
    }
    #data_box4 {
        padding-top: 1px;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(30px, 290px);
    }
}































@media screen and (max-width: 350px){
    #data_box2 {
        padding-top: 0;
        transform: translate(30px, 108px);
        width: 90px;
        font-size: 10px;
        height: 25px;
        padding: 7px;
    }
    #left p {
        transform: translate(32px, 60px);
        width: 130px;
        height: auto;
        min-height: auto;
        border-radius: 8px;
        font-size: 10px;
        padding: 9px;
        letter-spacing: 0.2px;
    }
    #left #left_third {
        padding: 7px;
        height: auto;
        width: 115px;
        min-width: 100px;
        transform: translate(30px, 256px);
    }
    p#left_fifth{
        transform: translate(33px, 380px);
        height: auto;
        min-height: auto;
        padding: 9px;
        width: 135px;
    }
    #data_box4 {
        padding-top: 0;
        width: 90px;
        font-size: 10px;
        height: 25px;
        transform: translate(30px, 322px);
    }
}