/* right */
#right_first, #right_third, #right_fifth {
    display: flex;
}

#right_first img, #right_third img, #right_fifth img {
    object-fit: cover;
    border-radius: 15px;
}

#right_first img {
    width: 300px;
    height: 190px;
    transform: translate(20px, 40px);
}

#data_box1, #data_box3, #data_box5 {
    font-family: SfProReg;
    letter-spacing: 1px;
    width: 170px;
    height: 40px;
    background-color: #A4A4A4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
}

#data_box1 {
    transform: translate(-30px, 142px);
}

#data_box3 {
    transform: translate(-30px, 280px);
}

#data_box5 {
    transform: translate(-30px, 175px);
}

#right_second, #right_fourth {
    max-width: 400px;
    width: auto;
    border: 1px solid #DADADA;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    font-family: SfProReg;
    padding: 20px;
    letter-spacing: 1px;
    line-height: 22px;
}

#right_second {
    transform: translate(-30px, 75px);
}

#right_fourth {
    transform: translate(-30px, 140px);
}

#right_third img {
    width: 240px;
    height: 270px;
    transform: translate(20px, 135px);
}

#right_fifth img:first-child {
    width: 216px;
    height: 288px;
    transform: translate(90px, 175px);
}

#right_fifth img:last-child {
    width: 216px;
    height: 288px;
    transform: translate(10px, 175px);
}

#span1 {
    font-family: SfProMed;
    font-weight: 900;
    background: linear-gradient(to right, #03BE3D 0%, #006D22 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#right_six{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: SfProReg;
    max-width: 400px;
    transform: translate(-30px, 195px);
    padding: 20px;
    border: 1px solid #DADADA;
    border-radius: 20px;
}





















@media screen and (max-width: 1450px){
    
    #right_first img, #right_third img, #right_fifth img {
        border-radius: 16px;
    }
    
    #right_first img {
        width: 260px;
        height: 160px;
        transform: translate(20px, 70px);
    }
    
    #data_box1, #data_box3, #data_box5 {
        width: 140px;
        height: 38px;
        font-size: 15px;
    }
    
    #data_box1 {
        transform: translate(-30px, 137px);
    }
    
    #data_box3 {
        transform: translate(-30px, 275px);
    }
    
    #data_box5 {
        transform: translate(-30px, 215px);
    }
    
    #right_second, #right_fourth {
        width: auto;
        font-size: 16px;
        padding: 20px;
        line-height: 18px;
    }
    
    #right_second {
        transform: translate(-30px, 75px);
    }
    
    #right_fourth {
        line-height: 18px;
        transform: translate(-30px, 140px);
    }
    
    #right_third img {
        width: 240px;
        height: 270px;
        transform: translate(20px, 90px);
    }
    
    
    #right_fifth img:last-child {
        width: 170px;
        height: 240px;
        transform: translate(10px, 160px);
    }
    
    #right_six{
        font-size: 16px;
        transform: translate(-30px, 187px);
        max-width: 380px;
    }
    
}




@media screen and (max-width: 1120px){


    #data_box1 {
        transform: translate(-30px, 128px);
    }
    
    #data_box3 {
        transform: translate(-30px, 360px);
    }
    
    #data_box5 {
        transform: translate(-30px, 485px);
    }
    
    #right_second {
        transform: translate(-30px, 210px);
        width: 300px;
        padding: 20px;
    }

    #right_fourth {
        transform: translate(-30px, 440px);
        width: 310px;
        padding: 20px;
    }
    #right_six {
        transform: translate(-30px, 630px);
    }
}



@media screen and (max-width: 750px){
    #data_box1 {
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 94px);
        letter-spacing: 0;
        border-radius: 5px;    
    
    }
    
    #data_box3 {
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 315px);
        letter-spacing: 0;
        border-radius: 5px;    
    
    }
    
    #data_box5 {
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 440px);
        border-radius: 5px;
        letter-spacing: 0;
    
    }

    #right_second {
        font: 500 18px/1 SfProReg;
        font-size: 9.94px;
        transform: translate(-30px, 180px);
        width: 167px;
        padding: 10px;
        border-radius: 8px;
        letter-spacing: 0;
        min-width: 110px;
    }

    #right_fourth {
        font: 500 18px/1 SfProReg;
        font-size: 10px;
        line-height: 11px;
        transform: translate(-30px, 390px);
        width: 176px;
        padding: 10px;
        border-radius: 8px;
        letter-spacing: 0;
        min-width: 110px;
    }

    #right_six {
        font: 500 18px/1 SfProReg;
        font-size: 10px;
        line-height: 11px;
        width: 176px;
        padding: 10px;
        border-radius: 8px;
        letter-spacing: 0;
        transform: translate(-30px, 558px);
    }
}






@media screen and (max-width: 440px){
    #data_box1 {
        transform: translate(-30px, 74px);
    
    }
    #right_second {
        font-size: 10px;
        transform: translate(-30px, 140px);
        width: 130px;
        padding: 13px 13px;
        border-radius: 8px;
        
    }
    #data_box3 {
        display: flex;
        width: 110px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 250px);
    }

    #right_fourth {
        font-size: 10px;
        transform: translate(-30px, 310px);
        width: 136px;
        padding: 8px;
        border-radius: 8px;
    }

    #data_box5 {
        display: flex;
        width: 110px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 355px);
    }

    
    #right_six {
        font-size: 10px;
        width: 136px;
        padding: 8px;
        border-radius: 8px;
        transform: translate(-30px, 431px);
    }
}

















@media screen and (max-width: 350px){
    #data_box1 {
        font-size: 10px;
        width: 90px;
        height: 25px;
    }
    #right_second {
        font-size: 8.94px;
        transform: translate(-30px, 147px);
        width: 120px;
        padding: 8px 8px;
        border-radius: 8px;
        letter-spacing: 0.2px;
    }
    #data_box3 {
        display: flex;
        width: 90px;
        height: 25px;
        font-size: 10px;
        padding: 4px;
        transform: translate(-30px, 268px);
    }

    #right_fourth {
        font-size: 8.94px;
        transform: translate(-30px, 343px);
        width: 130px;
        padding: 8px;
        border-radius: 8px;
        letter-spacing: 0.2px;
    }

    #data_box5 {
        display: flex;
        width: 90px;
        height: 25px;
        font-size: 10px;
        transform: translate(-30px, 374px);
    }
    #right_six {
        font-size: 8.94px;
        width: 126px;
        padding: 8px;
        border-radius: 8px;
        transform: translate(-30px, 431px);
    }
}