/* right */
#right_first, #right_third, #right_fifth {
    display: flex;
}

#right_first img, #right_third img, #right_fifth img {
    object-fit: cover;
    border-radius: 15px;
}

#right_first img {
    width: 372px;
    height: 247px;
    transform: translate(20px, 40px);
}

#data_box1, #data_box3, #data_box5 {
    font-family: SfProReg;
    letter-spacing: 1.5px;
    width: 186px;
    height: 44px;
    background-color: #A4A4A4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

#data_box1 {
    transform: translate(-30px, 170px);
}

#data_box3 {
    transform: translate(-30px, 321px);
}

#data_box5 {
    transform: translate(-30px, 172px);
}

#right_second, #right_fourth {
    width: 600px;
    border: 1px solid #DADADA;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    font-family: SfProReg;
    padding: 27px 45px;
}

#right_second {
    transform: translate(-30px, 75px);
}

#right_fourth {
    transform: translate(-30px, 160px);
}

#right_third img {
    width: 309px;
    height: 327px;
    transform: translate(90px, 135px);
}

#right_fifth img:first-child {
    width: 216px;
    height: 288px;
    transform: translate(90px, 175px);
}

#right_fifth img:last-child {
    width: 216px;
    height: 288px;
    transform: translate(10px, 175px);
}

#span1 {
    font-family: SfProMed;
    font-weight: 900;
    background: linear-gradient(to right, #03BE3D 0%, #006D22 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

























@media screen and (max-width: 1450px){
    
    #right_first img, #right_third img, #right_fifth img {
        border-radius: 16px;
    }
    
    #right_first img {
        width: 300px;
        height: 199px;
        transform: translate(20px, 40px);
    }
    
    #data_box1, #data_box3, #data_box5 {
        width: 140px;
        height: 38px;
        font-size: 15px;
    }
    
    #data_box1 {
        transform: translate(-30px, 137px);
    }
    
    #data_box3 {
        transform: translate(-30px, 210px);
    }
    
    #data_box5 {
        transform: translate(-30px, 122px);
    }
    
    #right_second, #right_fourth {
        width: 400px;
        font-size: 18px;
        padding: 27px 45px;
    }
    
    #right_second {
        transform: translate(-30px, 75px);
    }
    
    #right_fourth {
        transform: translate(-30px, 100px);
    }
    
    #right_third img {
        width: 240px;
        height: 270px;
        transform: translate(20px, 80px);
    }
    
    
    #right_fifth img:last-child {
        width: 170px;
        height: 240px;
        transform: translate(10px, 115px);
    }
    

}




@media screen and (max-width: 1120px){


    #data_box1 {
        transform: translate(-30px, 128px);
    }
    
    #data_box3 {
        transform: translate(-30px, 345px);
    }
    
    #data_box5 {
        transform: translate(-30px, 450px);
    }
    
    #right_second {
        transform: translate(-30px, 210px);
        width: 300px;
        padding: 22px 25px;
    }

    #right_fourth {
        transform: translate(-30px, 440px);
        width: 310px;
        padding: 22px 25px;
    }


}
@media screen and (max-width: 750px){
    #data_box1 {
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 94px);
        letter-spacing: 0;
    }
    
    #data_box3 {
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 304px);
        letter-spacing: 0;
    }
    
    #data_box5 {
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 424px);
        letter-spacing: 0;
    }

    #right_second {
        font-size: 9.94px;
        transform: translate(-30px, 180px);
        width: 167px;
        padding: 13px 13px;
        border-radius: 8px;
        letter-spacing: 0;
    }

    #right_fourth {
        font-size: 9.94px;
        transform: translate(-30px, 390px);
        width: 176px;
        padding: 13px 13px;
        border-radius: 8px;
        letter-spacing: 0;
    }
}






@media screen and (max-width: 440px){
    #right_second {
        font-size: 9.94px;
        transform: translate(-30px, 180px);
        width: 130px;
        padding: 13px 13px;
        border-radius: 8px;
    }
    #data_box3 {
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 283px);
    }

    #right_fourth {
        font-size: 9.94px;
        transform: translate(-30px, 360px);
        width: 126px;
        padding: 8px;
        border-radius: 8px;
    }

    #data_box5 {
        display: flex;
        width: 115px;
        height: 25.06px;
        font-size: 11px;
        transform: translate(-30px, 400px);
    }
}






@media screen and (max-width: 350px){
    #right_second {
        font-size: 8.94px;
        transform: translate(-30px, 180px);
        width: 110px;
        padding: 13px 13px;
        border-radius: 8px;
    }
    #data_box3 {
        display: flex;
        height: 25.06px;
        width: 107px;
        font-size: 8px;
        padding: 4px;
        transform: translate(-30px, 285px);
    }

    #right_fourth {
        font-size: 8.94px;
        transform: translate(-30px, 373px);
        width: 117px;
        padding: 8px;
        border-radius: 8px;
    }

    #data_box5 {
        display: flex;
        height: 25.06px;
        width: 90px;
        font-size: 8px;
        transform: translate(-30px, 404px);
        background-color: #cec4c4;
    }
}