#seven{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#seven h1{
    margin-top: 150px;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    font-family: SfProReg;
}


#container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#left{
    padding: 20px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#right{
    padding: 20px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}




/* line */

#lines{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


#date2023{
    width: 113px;
    height: 44px;
    background: linear-gradient(to right, rgb(3, 190, 62), rgb(0, 109, 34));
    font-family: SfProReg;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 8.44px;
}

#line1 {
    width: 5px;
    height: 120px; 
    background-color: #00882A;
    border-radius: 25px;
}

#line1:nth-child(8){
    height: 60px;
}


#line1:nth-child(10){
    height: 190px;
}



@media screen and (max-width: 1450px){
    #seven h1{
        margin-top: 100px;
        font-size: 40px;
    }
    #line1 {
        width: 4px;
        height: 90px; 
        background-color: #00882A;
        border-radius: 25px;
    }
    #line1:nth-child(8){
        height: 50px;
    }
    
    #line1:nth-child(10){
        height: 120px;
    }

    #date2023{
        width: 100px;
        height: 40px;
        font-size: 18px;
    }
    #left{
        padding: 20px;
        width: 500px;
    }
    #right{
        padding: 20px;
        width: 500px;
    }
}