
#navigation{
    display: none;
}

@media screen and (max-width: 968px){
    #navigation{
        z-index: 100;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh);
        width: 100vw;
        padding: 15vh 150px 20vh 150px;
        gap: 10px;
        transform: translateY(-130vh);
        transition: transform 0.5s ease-in-out;
        background: white;
    }

    #navigation_d1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px; 
    }

    #navigation_d1 #link{
        font-family: SfProMed;
        text-decoration: none;
        color: black;
        font-weight: 590;
        font-size: 18px;
        letter-spacing: 1.1px;
        transition: color 0.3s ease;
    }

    #navigation_d1 #link:hover{
        color: #000000da;
    }

    #navigation_d1 #courses button {
        font-family: SfProReg;
        width: 200px;
        height: 50px;
        border-radius: 32px;
        border: none;
        font-size: 17px;
        font-weight: 590;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        background: linear-gradient(120deg, #03BE3D 20%, #006D22 100%);
    }

    #navigation_d1 #courses button:hover{
        transform: scale(1.01); 
    }

    #navigation_d2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    } 
    #navigation_d2 a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        background: #333333;
        border-radius: 50px;
    }
}

@media screen and (max-width: 489px){
    #navigation{
        padding: 120px 80px 180px 80px;
    }
}