#first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 110px;
    margin-top: 140px;
    margin-bottom: 100px;
}

#first #first_content{
    width: 60vw;
    max-width: 1010px;
}

#first #first_content h2{
    font-size: 71px;
    font-family: SfProReg;
    font-weight: 400;
    margin: 0;
}

#first #first_content p{
    font-size: 21px;
    font-family: SfProReg;
    font-weight: 400;
    max-width: 770px;
    letter-spacing: 1.02px;
    width: 90%;
    color: #707070;
    padding: 0;
    margin: 40px 0 50px 0;
}

#first #first_content h2 #first_span2 {
    display: block;
    font-weight: 500;
    background: linear-gradient(to right, #03BE3D, #006D22);
    -webkit-background-clip: text;
    color: transparent;
    padding: 0;
    margin: 0;
}



#first #first_content #form{
    font-family: SfProReg;
    height: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 40px 0;
    width: min-content;
}

#first #first_content #form #form_one{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    border: 1px solid #B3B3B3;
    border-radius: 32px 0 0 32px;
    height: 54px;
    padding: 0 100px 0 20px;
}
 

#first #first_content #form #form_one img{
    width: 24px;
    height: 24px;
}

#first #first_content #form #form_one #email{
    font-family: SfProThin;
    letter-spacing: 1.1px;
    font-size: 19px;
    font-weight: 600;
    border: none;
    width: 200px;
}
#first #first_content #form #form_one #email:hover{
    opacity: 0.80;
}
#first #first_content #form #form_one #email:focus {
    outline: none;
    border: none;
}



#first #first_content #form #submit {
    font-family: SfProReg;
    width: min-content;
    padding: 0 25px;
    max-width: 240px;

    height: 54px;
    border-radius: 32px;
    border: none;
    font-size: 15.3px;
    font-weight: 590;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    background: linear-gradient(120deg, #03BE3D 20%, #006D22 100%);
    transform: translateX(-90px);
    cursor: pointer;
    transition: all 0.3s ease;
}
#first #first_content #form #submit:hover{
    opacity: 0.93;
}
#first #first_content #colabs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

#first #first_content #colabs #incredibles{
    width: 144px;
    height: 67.75px;
}

#first #first_content #colabs #mycompany{
    width: 141.75px;
    height: 57.75px;
}

#first #first_content #colabs #mamstartup{
    width: 173px;
    height: 47px;
}

#first #first_content #colabs #czworka{
    width: 106px;
    height: 49px;
}






#first #first_image {
    position: relative;
    margin-right:  50px;
}

#first #first_image img {
    width: 324px;
    height: 671px;
    height: auto;
    display: block;
    position: relative;
    z-index: 2;
}

#first #first_image::after {
    top: 110px;
    left: -36px;
    width: 393px;
    height: 87%;
    max-height: 578px;
    content: '';
    position: absolute;
    background: linear-gradient(170deg, #03BE3D, #006D22);
    opacity: 0.85;
    border-radius: 75px;
    z-index: 1;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


















@media screen and (max-width: 1650px){
    #first{
        gap: 100px;
    }
    #first {
        padding: 0 110px;
        margin-top: 120px;
        margin-bottom: 100px;
    }
    #first #first_content h2{
        font-size: 60px;
        max-width: 920px;
    }
    #first #first_content p{
        font-size: 17px;
        max-width: 750px;
        margin: 40px 0;
    }
    #first #first_image img {
        width: 240px;
        height: 530px;
        height: auto;
    }
    
    #first #first_image::after {
        top: 90px;
        left: -30px;
        width: 300px;
        height: 88%;
        max-height: 425px;
        border-radius: 62px;
    }

    #first #first_content #colabs #incredibles {
        width: 114px;
        height: 55.88px; 
    }
    
    #first #first_content #colabs #mycompany {
        width: 91.75px;
        height: 38.57px; 
    }
    
    #first #first_content #colabs #mamstartup {
        width: 113px;
        height: 32.13px;
    }
    
    #first #first_content #colabs #czworka {
        width: 96px;
        height: 44.34px;
    }
    




    #first #first_content #form{
        height: 48px;
        margin: 20px 0 40px 0;
    }
    
    #first #first_content #form #form_one{
        height: 48px;
        padding: 0 80px 0 20px;
    }
     
    
    #first #first_content #form #form_one img{
        width: 22px;
        height: 22px;
    }
    
    #first #first_content #form #form_one #email{
        letter-spacing: 1px;
        font-size: 17px;
        width: 200px;
    }

    
    
    #first #first_content #form #submit {
        height: 48px;
        font-size: 15px;
        font-weight: 590;
        letter-spacing: 1.1px;
    }


}












/* 
@media screen and (max-width: 1520px){



    #first #first_image img {
        width: 240px;
        height: 530px;
        height: auto;
    }

    #first #first_image::after {
        top: 90px;
        left: -30px;
        width: 300px;
        height: 88%;
        max-height: 425px;
        border-radius: 62px;
    }



} */














@media screen and (max-width: 1450px){
    #first{
        gap:70px;
    }
    #first #first_content h2{
        font-size: 52px;
        max-width: 900px;
    }
    
    #first #first_content p{
        font-size: 16px;
        max-width: 700px;
        margin: 22px 0 35px 0;
    }

 
    
    #first #first_content #colabs{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        align-items: center;
    }
    
    #first #first_content #colabs #incredibles {
        width: 109px;
        height: 53.43px; 
    }
    
    #first #first_content #colabs #mycompany {
        width: 86.75px; 
        height: 36.41px; 
    }
    
    #first #first_content #colabs #mamstartup {
        width: 108px; 
        height: 30.73px; 
    }
    
    #first #first_content #colabs #czworka {
        width: 91px; 
        height: 42.06px;
    }
    

    #first #first_image {
        position: relative;
        margin-right:  70px;
    }
    
    #first #first_image img {
        width: 220px;
        height: auto;
    }
    
    #first #first_image::after {
        top: 70px;
        left: -27px;
        width: 270px;
        height: 90%;
        max-height: 400px;
        border-radius: 50px;
    }

}













@media screen and (max-width: 1279px){

    #first{
        padding: 0 5%;
        margin-top: 100px;
        gap: 55px;
    }

    #first #first_content h2{
        font-size: 42px;
        max-width: 600px;
        line-height: 50px;
    }
    
    #first #first_content p{
        font-size: 13px;
        max-width: 550px;
        margin: 20px 0;
    }

    
    #first #first_content #colabs{
        gap: 25px;
    }
    
    /* #first #first_content #colabs #incredibles {
        width: 92px; 
        height: 48.53px; 
    }
    
    #first #first_content #colabs #mycompany {
        width: 92px; 
        height: 37.49px;
    }
    
    #first #first_content #colabs #mamstartup {
        width: 102px; 
        height: 30.60px; 
    }
    
    #first #first_content #colabs #czworka {
        width: 92px;
        height: 42.32px; 
    }
     */

    
    #first #first_image::after {
        height: 100%;
    }




    #first #first_content #form{
        height: 44px;
        margin: 20px 0 40px 0;
    }
    
    #first #first_content #form #form_one{
        height: 44px;
        padding: 0 40px 0 20px;
    }
     
    
    #first #first_content #form #form_one img{
        width: 20px;
        height: 20px;
    }
    
    #first #first_content #form #form_one #email{
        font-size: 13px;
        width: 175px;
    }
    
    
    #first #first_content #form #submit {
        padding: 0 25px;
        max-width: 240px;
        height: 44px;
        border-radius: 32px;
        border: none;
        font-size: 13px;
        transform: translateX(-40px);
    }

}



@media screen and (max-width: 1150px){

    #first #first_image img {
        width: 200px;
        height: auto;
    }
    
    #first #first_image::after {
        top: 79px;
        left: -26px;
        width: 250px;
        height: 100%;
        max-height: 350px;
        border-radius: 50px;
    }
    #first{
        padding: 0 5%;
        margin-top: 90px;
        gap: 55px;
    }

}


@media screen and (max-width: 1050px){

    #first #first_content h2{
        font-size: 40px;
        max-width: 600px;
        line-height: 45px;
    }
    
    #first #first_content p{
        font-size: 13px;
        max-width: 550px;
        margin: 20px 0;
    }

    
    #first #first_content #form{
        height: 40px;
        margin: 25px 0 20px 0;
    }
    
    #first #first_content #form #form_one{
        height: 40px;
        padding: 0 20px 0 15px;
        gap: 5px;
        width: auto;
    }
     
    
    #first #first_content #form #form_one img{
        width: 20px;
        height: 20px;
    }
    
    #first #first_content #form #form_one #email{
        font-size: 12px;
        width: 155px;
    }
    
    
    #first #first_content #form #submit {
        padding: 0 25px;
        max-width: 240px;
        height: 40px;
        border-radius: 32px;
        border: none;
        font-size: 12px;
        transform: translateX(-40px);
    }


}









@media screen and (max-width: 900px){
    #first #first_image {
        margin-right: 0px;
    }
    #first{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 110px;
    }
    #first #first_content{
        width: auto;
        max-width: 870px;
    }
    
    #first #first_content #colabs #incredibles{
        width: 100px;
        height: 52.75px;
    }
    
    #first #first_content #colabs #mycompany{
        width: 100px;
        height: 40.75px;
    }
    
    #first #first_content #colabs #mamstartup{
        width: 110px;
        height: 33px;
    }
    
    #first #first_content #colabs #czworka{
        width: 100px;
        height: 46px;
    }

    #first #first_content #form{
        height: 47px;
        margin: 20px 0 40px 0;
    }
    
    #first #first_content #form #form_one{
        height: 47px;
        padding: 0 100px 0 20px;
    }
     
    
    #first #first_content #form #form_one img{
        width: 20px;
        height: 20px;
    }
    
    #first #first_content #form #form_one #email{
        font-size: 16px;
        width: 165px;
    }
    
    
    #first #first_content #form #submit {
        padding: 0 15px;
        max-width: 240px;
        height: 47px;
        border-radius: 32px;
        border: none;
        font-size: 13.3px;
        transform: translateX(-80px);
    }
}








@media screen and (max-width: 530px){

    #first #first_content #colabs #incredibles{
        width: 80px;
        height: 35px;
    }

    #first #first_content #colabs #mycompany{
        width: 72px;
        height: 30.75px;
    }

    #first #first_content #colabs #mamstartup{
        width: 80px;
        height: 24px;
    }

    #first #first_content #colabs #czworka{
        width: 80px;
        height: 36px;
    }

    #first{
        margin-top: 110px;
        padding: 0 0 0 16px;
    }







    #first #first_content h2{
        font-size: 29px;
        max-width: 430px;
        line-height: 30px;
    }
    
    #first #first_content p{
        font-size: 10px;
        max-width: 440px;
        margin: 20px 0;
    }

    
    #first #first_content #colabs{
        width: auto;
        gap: 10px;
    }
    
    #first #first_content #colabs #incredibles{
        width: 80px;
        height: 36px;
    }
    
    #first #first_content #colabs #mycompany{
        width: 80px;
        height: 32.75px;
    }
    
    #first #first_content #colabs #mamstartup{
        width: 85px;
        height: 25px;
    }
    
    #first #first_content #colabs #czworka{
        width: 80px;
        height: 32px;
    }

    
    #first #first_image img {
        width: 163px;
        height: 332px;
    }
    
    #first #first_image::after {
        top: 60px;
        left: -19px;
        width: 198px;
        height: 93%;
        max-height: 290px;
        border-radius: 37.1px;
    }





    #first #first_content #form{
        height: 32px;
        margin: 19px 0 25px 0;
        width: 90vw;
    }
    
    #first #first_content #form #form_one{
        height: 32px;
        gap: 3px;
        padding: 0 30px 0 20px;
    }
     
    
    #first #first_content #form #form_one img{
        width: 13px;
        height: 13px;
    }
    
    #first #first_content #form #form_one #email{
        font-size: 11px;
        width: 135px;
    }
    
    
    #first #first_content #form #submit {
        width: auto;
        height: 32px;
        font-size: 9px;
        transform: translateX(-30px);
        padding: 0 10px;
    }


}
@media screen and (max-width: 480px){
    #first #first_content #form #form_one{
        height: 32px;
        gap: 3px;
        padding: 0 20px 0 20px;
    }
    #first #first_content #form #form_one #email{
        max-width: 130px;
        min-width: 0;
    }
    #brbr{
        display: none;
    }
    #first{
        margin-top: 85px;
    }
    #first #first_content #form #form_one #email {
        letter-spacing: 0;
    }
    #first #first_content #form #form_one {
        height: 32px;
        padding: 0 10px 0 20px;
    }
    #first #first_content #form #submit {
        width: auto;
        height: 32px;
        font-size: 9px;
        transform: translateX(-30px);
        padding: 0 15px;
    }
}
@media screen and (max-width: 440px){
    #first #first_content h2{
        font-size: 29px;
        max-width: 380px;
        width: 98%;
    }
}

@media screen and (max-width: 420px) {
    #first #first_content #form #submit {
        width: auto;
        height: 32px;
        font-size: 9px;
    }
    #first #first_content #form #form_one {
        height: 32px;
        padding: 0 15px 0 20px;
    }
}




@media screen and (max-width: 400px){
    #first #first_content h2{
        font-size: 29px;
        max-width: 330px;
        width: 98%;
    }
    
    #first #first_content p{
        font-size: 10px;
        max-width: 330px;
        margin: 30px 0;
    }

    #first #first_content #form #form_one {
        height: 32px;
        padding: 0 10px 0 10px;
    }

    #first #first_content #colabs{
        width: auto;
        justify-content: flex-start;
        gap: 15px;
    }
    #first #first_content #colabs #incredibles{
        width: 65px;
        height: 32px;
    }
    
    #first #first_content #colabs #mycompany{
        width: 65px;
        height: 26px;
    }
    
    #first #first_content #colabs #mamstartup{
        width: 65px;
        height: 20px;
    }
    
    #first #first_content #colabs #czworka{
        width: 65px;
        height: 26px;
    }
}










@media screen and (max-width: 340px){

    #first #first_content #colabs{
        gap: 8px;
    }
    #first #first_content #form #submit {
        width: auto;
        min-width: 120px;
        max-width: 139px;
        height: 32px;
        font-size: 9px;
        transform: translateX(-30px);
        padding: 0 5px;
    }
    #first #first_content #form #form_one {
        height: 32px;
        padding: 0 30px 0 10px;
    }
    #first #first_content #form #form_one {
        gap: 2px;
    }
    #first #first_content #form #form_one #email {
        letter-spacing: 0px;
    }
}