footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
}

footer h1 {
    transform: translateY(600px);
    font-family: SfProReg;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

#bottom {
    font-family: SfProReg;
    width: 100vw;
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 85px 130px 35px;
    border-radius: 40px 40px 0 0;
}

#element1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#one {
    display: flex;
    flex-direction: column;
}

#one h2 {
    font-family: Logo;
    font-size: 34px;
    font-weight: 960;
    margin: 0;
    background: linear-gradient(to right, #FFF 100%, #A5A5A5 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#one h3 {
    max-width: 471px;
    font-size: 20px;
    font-weight: 400;
    color: #EAEAEA;
    
}

#form {
    height: 54px;
    display: flex;
    align-items: center;
    margin: 20px 0 40px;
    width: min-content;
}

#form_one {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #B3B3B3;
    border-radius: 32px;
    height: 54px;
    padding: 0 100px 0 20px;
}

#form_one img {
    width: 24px;
    height: 24px;
}

#element1 #email2 {
    color: white;
    background: none;
    letter-spacing: 1.1px;
    font-size: 19px;
    font-weight: 100;
    border: none;
    width: 200px;
}

#email2:hover {
    opacity: 0.80;
}

#email2:focus {
    outline: none;
}

#submit2 {
    width: auto;
    height: 54px;
    border-radius: 32px;
    border: none;
    font-size: 15.3px;
    padding: 0 10px;
    font-weight: 590;
    letter-spacing: 1.2px;
    color: #FFF;
    background: linear-gradient(120deg, #03BE3D 20%, #006D22 100%);
    transform: translateX(-90px);
    cursor: pointer;
    transition: all 0.3s ease;
}

#submit2:hover {
    opacity: 0.93;
}

#two {
    display: flex;
    gap: 50px;
}

#column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#column h3 {
    font-family: SfProThin;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 1.2px;
    margin: 22px 0 10px 0;
    color: white;
}

#column a,
#column p {
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #A6A6A6;
    font-family: SfProReg;
    text-decoration: none;
    margin: 0;
    transition: 0.2s ease;
}
#column a:hover,
#column p:hover{
    color: #a6a6a6d2;
} 

#icons {
    display: flex;
    gap: 5px;
}

#icons a {
    background-color: #333;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

#icons a img {
    width: 18px;
    height: 18px;
}

#element2 {
    border-top: 0.5px solid #838383;
    margin-top: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

#element2 p {
    font-weight: 500;
    font-size: 16px;
    color: #777;
}





@media screen and (max-width: 1450px) {
    footer h1 {
        transform: translateY(400px);
        font-size: 40px;
    }

    #bottom {
        padding: 85px 100px 35px;
        border-radius: 50px 50px 0 0;
    }

    #one h2 {
        font-size: 30px;
    }

    #one h3 {
        max-width: 400px;
        font-size: 18px;
    }

    #form {
        margin: 15px 0 40px;
    }

    #email2 {
        letter-spacing: 0.7px;
        font-size: 17px;
        width: 180px;
    }

    #submit2 {
        letter-spacing: 1px;
    }

    #two {
        gap: 30px;
    }

    #column {
        gap: 20px;
    }

    #column h3 {
        font-size: 20px;
    }

    #column a,
    #column p {
        font-size: 15px;
    }

    #icons {
        gap: 3px;
    }

    #icons a img {
        width: 16px;
        height: 16px;
    }

    #element2 {
        margin-top: 30px;
        padding-top: 15px;
    }

    #element2 p {
        font-size: 15px;
    }
}


@media screen and (max-width: 1000px) {
    footer h1 {
        transform: translateY(250px);
        font-size: 40px;
    }
}

@media screen and (max-width: 750px) {

    footer h1 {
        font-size: 24.4px;
        transform: translateY(150px);
    }

    #bottom {
        padding: 55px 7vw 35px;
        border-radius: 40px 40px 10px 0;
    }


    #one h2 {
        font-size: 24px;
    }

    #one h3 {
        max-width: 400px;
        font-size: 15px;
    }

    #element1 #form {
        height: 47px;
        margin: 15px 0 30px;
    }
    #element1 #form_one{
        height: 47px;
        padding: 0 80px 0 20px;
    }

    #element1 #email2 {
        height: 47px;
        font-size: 15px;
        width: 180px;
    }

    #element1 #submit2 {
        height: 47px;
        letter-spacing: 0.8px;
        width: auto;
        font-size: 12px;
        padding: 0 8px;
    }

    #two {
        gap: 30px;
        flex-wrap: wrap;
    }

    #column {
        gap: 20px;
    }

    #column h3 {
        font-size: 17px;
    }

    #column a,
    #column p {
        font-size: 14px;
    }

    #icons {
        gap: 3px;
    }

    #icons a img {
        width: 15px;
        height: 15px;
    }

    #element2 {
        margin-top: 30px;
        padding-top: 15px;
    }

    #element2 p {
        font-size: 15px;
        margin: 0 0 10px 0;
    }

}


@media screen and (max-width: 500px) {
    footer h1 {
        transform: translateY(100px);
        font-size: 18px;
    }
    #bottom {
        padding: 55px 7vw 10px;
        border-radius: 20px 20px 0 0;
    }

    #one h3 {
        max-width: 330px;
        width: 90%;
        font-size: 11px;
    }

    #element1 #form {
        height: 32px;
        margin: 15px 0 60px;
        width: 350px;
    }
    #element1 #form_one{
        height: 32px;
        gap: 3px;
        padding: 0 70px 0 10px;
    }
    #element1 #form_one img{
        width: 14px;
        height: 14px;
    }
    #element1 #email2 {
        height: 32px;
        font-size: 10px;
        width: auto;
    }

    #element1 #submit2 {
        padding-top: 2px;
        height: 32px;
        letter-spacing: 0.8px;
        width: auto;
        font-size: 8px;
        padding: 0 5px;
        transform: translateX(-70px);
    }


    #two {
        gap: 30px;
        flex-wrap: wrap;
    }

    #column {
        gap: 15px;
    }

    #column h3 {
        letter-spacing: 0.5px;
        font-size: 14px;
        font-weight: 900;
        margin: 10px 0 10px 0;
        
    }

    #column a,
    #column p {
        font-size: 14px;
    }

    #icons {
        gap: 3px;
    }

    #icons a img {
        width: 15px;
        height: 15px;
    }

    #element2 {
        margin-top: 30px;
        padding-top: 15px;
    }

    #element2 p {
        font-size: 15px;
    }
    #icons a img {
        width: 13px;
        height: 13px;
    }
}

@media screen and (max-width: 350px) {
    #one h3 {
        max-width: 250px;
        width: 90%;
        font-size: 11px;
    }
}