#eight {
    margin: 250px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100vw;
    height: 125px;
    font-family: "Montserrat", serif;
    color: white;
    background: #333333;
    position: relative;
    text-decoration: none;
}

#eight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333;
    transition: opacity 0.3s ease-in-out;
}

#eight:hover::before {
    opacity: 0;
}

#eight::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(170deg, #03BE3D 0%, #006D22 100%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#eight:hover::after {
    opacity: 1;
}

#eight p {
    letter-spacing: 1px;
    font-size: 32px;
    font-weight: 500;
    transition: 0.3s ease all;
    cursor: pointer;
    z-index: 1000;
}
#eight a{
    z-index: 1000;
}


#eight img {
    width: 37px;
    height: 37px;
    transform: translateY(0px);
    z-index: 100;
}

@media screen and (max-width: 1450px) {
    #eight {
        margin: 200px 0 0 0;
        height: 105px;
    }

    #eight p {
        font-size: 26px;
    }

    #eight img {
        width: 32px;
        height: 32px;
        transform: translateY(2px);
    }
}

@media screen and (max-width: 768px) {
    #eight {
        height: 85px;
        gap: 2px;
        margin: 100px 0 0 0 ;
    }

    #eight p {
        font-size: 18px;
    }

    #eight img {
        width: 28px;
        height: 28px;
        transform: translateY(0);
    }
}

@media screen and (max-width: 530px) {
    #eight {
        height: 53px;
    }

    #eight p {
        font-size: 13px;
    }

    #eight img {
        width: 20px;
        height: 20px;
    }
}
