#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
}

#lessons {
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 19.82px;
    background: linear-gradient(120deg, #FFFFFF, #cccbcb);
}

#lessons div h2, #lessons div p {
    margin: 5px;
    font-family: "Montserrat", serif;
    color: #323232;
}

#lessons div h2 {
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 700;
}

#lessons div p {
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
}

#lessons:nth-child(odd) {
    background: linear-gradient(120deg, #03BE3D, #006D22);
}

#lessons:nth-child(odd) div h2 {
    color: #ffffff;
}
#lessons:nth-child(odd) div p {
    color: #ffffffe7;
}

#lessons #graduation{
    width: 70px;
    height: 70px;
}





@media screen and (max-width: 1600px){

    #lessons {
        width: 280px;
        height: 280px;
        border-radius: 19px;
    }
    
    #lessons div h2, #lessons div p {
        margin: 5px;
        color: #323232;
    }
    
    #lessons div h2 {
        font-size: 20px;
    }
    
    #lessons div p {
        letter-spacing: 0.5px;
        font-size: 14px;
    }
    
    #lessons img{
        width: 70px;
        height: 70px;
    }
    #lessons #graduation{
        width: 70px;
        height: 70px;
    }

}







@media screen and (max-width: 1270px) {
    #box {
        gap: 20px;
    }
    
    #lessons {
        width: 200px;
        height: 200px;
        border-radius: 17.82px;
    }

    #lessons div h2 {
        letter-spacing: 1px;
        font-size: 15px;
    }
    
    #lessons div p {
        letter-spacing: 0.2px;
        font-size: 10px;
    }
    #lessons img{
        width: 60px;
        height: 60px;
    }
    #lessons img{
        width: 60px;
        height: 60px;
    }
    #lessons #graduation{
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 1075px) {
    #third {
        margin: 0 auto;
    }
    #lessons {
        width: 185px;
        height: 185px;
        border-radius: 17.82px;
    }

    #lessons div h2 {
        font-size: 15px;
    }
    
    #lessons div p {
        letter-spacing: 0.7px;
        font-size: 9px;
    }
    #lessons img{
        width: 55px;
        height: 55px;
    }
    #lessons #graduation{
        width: 60px;
        height: 60px;
    }
}
@media  screen and (max-width: 654px){
    #lessons:nth-child(3){
        order: 4;
    }
}
@media screen and (max-width: 630px) {
    #third #content{
        max-width: 500px;
    }
    #lessons {
        width: 160px;
        height: 160px;
        border-radius: 10px;
    }

    #lessons div h2 {
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    
    #lessons div p {
        font-size: 11px;
        letter-spacing: 0.2px;
    }
    #lessons img{
        width: 48px;
        height: 48px;
    }
    #lessons #graduation{
        width: 52px;
        height: 52px;
    }
    #box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0 3vw;
    }
}

@media screen and (max-width: 470px){
    #box {
        gap: 3vw;
    }
    #lessons {
        width: 150px;
        height: 150px;
        border-radius: 10px;
    }

    #lessons div h2 {
        margin: 5px 2px;
        font-size: 13px;
    }
    
    #lessons div p {
        font-size: 10px;
    }
    #lessons img{
        width: 43px;
        height: 43px;
    }
    #lessons #graduation{
        width: 47px;
        height: 47px;
    }
    #box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0 3vw;
        max-width: 400px;
    }
}


@media screen and (max-width: 350px){
    #box {
        gap: 3vw;
    }
    #lessons {
        width: 130px;
        height: 130px;
        border-radius: 10px;
    }

    #lessons div h2 {
        font-size: 12px;
        font-weight: 500;
    }
    
    #lessons div p {
        font-size: 9px;
        
    }
    #lessons img{
        width: 38px;
        height: 38px;
    }
    #lessons #graduation{
        width: 40px;
        height: 40px;
    }
    #box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0 3vw;
        max-width: 400px;
    }
}