#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
}

#lessons {
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 19.82px;
    background: linear-gradient(120deg, #FFFFFF, #A5A5A5);
}

#lessons div h2, #lessons div p {
    margin: 5px;
    font-family: SfProReg;
    color: #323232;
}

#lessons div h2 {
    letter-spacing: 1.3px;
    font-size: 21.8px;
    font-weight: 700;
}

#lessons div p {
    letter-spacing: 0.5px;
    font-size: 13.88px;
    font-weight: 590;
}

#lessons:nth-child(odd) {
    background: linear-gradient(120deg, #03BE3D, #006D22);
}

#lessons:nth-child(odd) div h2, #lessons:nth-child(odd) div p {
    color: #FFFFFF;
}







@media screen and (max-width: 1600px){

    #lessons {
        width: 220px;
        height: 220px;
        border-radius: 19px;
    }
    
    #lessons div h2, #lessons div p {
        margin: 5px;
        font-family: SfProReg;
        color: #323232;
    }
    
    #lessons div h2 {
        letter-spacing: 1.3px;
        font-size: 18px;
        font-weight: 700;
    }
    
    #lessons div p {
        letter-spacing: 0.5px;
        font-size: 11.5px;
        font-weight: 590;
    }
    
    #lessons img{
        width: 60px;
        height: 60px;
    }

}







@media screen and (max-width: 1270px) {
    #box {
        gap: 20px;
    }
    
    #lessons {
        width: 190px;
        height: 190px;
        border-radius: 17.82px;
    }

    #lessons div h2 {
        letter-spacing: 1px;
        font-size: 16px;
        font-weight: 700;
    }
    
    #lessons div p {
        letter-spacing: 0.2px;
        font-size: 10px;
        font-weight: 590;
    }
    #lessons img{
        width: 65px;
        height: 65px;
    }
}

@media screen and (max-width: 1075px) {
    #third {
        margin: 0 auto;
    }
    #lessons {
        width: 170px;
        height: 170px;
        border-radius: 17.82px;
    }

    #lessons div h2 {
        font-size: 15px;
        font-weight: 700;
    }
    
    #lessons div p {
        letter-spacing: 0.7px;
        font-size: 9px;
        font-weight: 590;
    }
    #lessons img{
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 630px) {
    #third #content{
        max-width: 500px;
    }
    #lessons:nth-child(3){
        order: 4;
    }
    #lessons {
        width: 160px;
        height: 160px;
        border-radius: 10px;
    }

    #lessons div h2 {
        font-size: 11.8px;
        font-weight: 700;
    }
    
    #lessons div p {
        font-size: 7.88px;
        font-weight: 590;
    }
    #lessons img{
        width: 48px;
        height: 48px;
    }
    #box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0 3vw;
    }
}

@media screen and (max-width: 470px){
    #box {
        gap: 3vw;
    }
    #lessons {
        width: 130px;
        height: 130px;
        border-radius: 10px;
    }

    #lessons div h2 {
        font-size: 11px;
        font-weight: 700;
    }
    
    #lessons div p {
        font-size: 7.3px;
        font-weight: 590;
    }
    #lessons img{
        width: 37px;
        height: 37px;
    }
    #box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0 3vw;
        max-width: 400px;
    }
}


@media screen and (max-width: 350px){
    #box {
        gap: 3vw;
    }
    #lessons {
        width: 110px;
        height: 110px;
        border-radius: 10px;
    }

    #lessons div h2 {
        font-size: 10px;
        font-weight: 700;
    }
    
    #lessons div p {
        font-size: 7px;
        font-weight: 590;
    }
    #lessons img{
        width: 34px;
        height: 34px;
    }
    #box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 0;
        margin: 0 3vw;
        max-width: 400px;
    }
}