#four{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

#four #description{
    padding: 0 90px;
    font-family: SfProReg;
    max-width: 1200px;
    text-align: center;
}

#four #description h1{
    margin: 0;
    font-size: 54px;
    font-weight: 700;
}

#four #description h2{
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin: 20px 0;
    color: #707070;
}

@media screen and (max-width: 1250px){
    #four #description h1{
        font-size: 40px;
    }
    
    #four #description h2{
        font-size: 17px;
    }

    #four #description{
        max-width: 1000px;
    }

}


@media screen and (max-width: 920px){
    #four {
        margin-top: 50px;
    }
    
    
    #four #description h1{
        font-size: 35px;
    }
    
    #four #description h2{
        font-size: 15px;
    }
}


@media screen and (max-width: 625px){
    #four #description{
        padding: 0;
    }
    #four #description h1{
        padding: 0 10px;
    }
    #four #description h2{
        margin: 15px 0 20px 0;
        padding: 0 20px;
    }



    #four #description h1{
        font-size: 25px;
    }
    
    #four #description h2{
        font-size: 10px;
    }
}

