

#tutor_info #img_box{
    width: 45vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#tutor_info #tutor_content{
    font-family: SfProReg;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    gap: 30px;
    padding: 100px 0;
}

#tutor_content div{
    width: 45%;
    row-gap: 0;
}

#tutor_content div #icon_box {
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(3, 190, 61, 0.15), rgba(0, 109, 34, 0.15));
    z-index: 1;
    border-radius: 21.91px;
}

#tutor_content div #icon_box img {
    z-index: 100;
}

#tutor_content div h2{
    font-size: 22.87px;
    font-weight: 700;
}

#tutor_content div p{
    font-size: 19.06px;
    font-weight: 400;
    color:  #707070;   
}






@media screen and (max-width: 1400px){
    #tutor_info #img_box {
        align-items: center;
        width: 550px;
    }
    #tutor_info #img_box img{
        width: 50vw;
        min-width: 550px;
    }

    #tutor_content div h2{
        font-size: 20px;
        font-weight: 700;
    }
    
    #tutor_content div p{
        font-size: 17px;
        font-weight: 400;
        color:  #707070;   
    }
}


@media screen and (max-width: 925px){
    #tutor_info #tutor_content{
        flex-direction: column;
        padding: 60px 0 0 0;
    }
    #tutor_info #tutor_content div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 85vw;
        max-width: 500px;
    }   
    #tutor_content div #icon_box {
        width: 62px;
        height: 62px;
    }
    #tutor_content div #icon_box img{
        width: 32px;
    }

    #tutor_content div h2{
        font-size: 20px;
        font-weight: 700;
        margin: 15px 0 5px 0;
    }
    
    #tutor_content div p{
        font-size: 17px;
        margin: 5px 0;
    }
    #tutor_info #img_box {
        align-items: center;
        width: 100%;
    }
}