
#tutor_info #img_box{
    /* width: 45vw; */
    width: auto;
    max-width: 620px;
    max-height: 620px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#tutor_info #img_box img{
    max-width: 620px;
    max-height: 620px;
}
#tutor_info #tutor_content {
    font-family: "Montserrat", serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    row-gap: 10px;
    column-gap: 0;
    padding: 75px 0;
    max-width: 825px;
}

#tutor_content div{
    width: 47%;
    row-gap: 0;
}

#tutor_content div #icon_box {
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(3, 190, 61, 0.15), rgba(0, 109, 34, 0.15));
    z-index: 1;
    border-radius: 21.91px;
}

#tutor_content div #icon_box img {
    z-index: 100;
}

#tutor_content div h2{
    font-size: 23px;
    font-weight: 700;
}

#tutor_content div p{
    font-size: 19px;
    font-weight: 400;
    color:  #707070;   
    max-width: 360px;
}










@media screen and (max-width: 1600px){

    #tutor_info #img_box{
        width: auto;
        max-width: 530px;
        max-height: 530px;
    }
    #tutor_info #img_box img{
        min-width: 520px;
        min-height: 520px;
        max-width: 530px;
        max-height: 530px;
        width: auto;
        height: auto;
    }
    #tutor_info #tutor_content{
        row-gap: 10px;
        column-gap: 25px;
        padding: 60px 0;
        max-width: 660px;
        max-height: 570px;
    }
    
    #tutor_content div{
        margin-right: 0;
        width: 47%;
        max-width: 350px;
        max-height: 220px;
        margin-right: none;
    }
    
    #tutor_content div #icon_box {
        width: 72px;
        height: 72px;
        border-radius: 21px;
    }
    
    #tutor_content div #icon_box img {
        z-index: 10;
        width: 33px;
    }
    
    #tutor_content div h2{
        font-size: 21px;
        font-weight: 700;
    }
    
    #tutor_content div p{
        font-size: 18px;
        font-weight: 400;
        color:  #707070;   
        max-width: 305px;
    }
}

























@media screen and (max-width: 1400px){
    #tutor_info #img_box {
        align-items: center;
        width: 450px;
        min-width: 450px;
    }
    #tutor_info #img_box img{
        min-width: 450px;
        min-height: 450px;
        max-width: 450px;
        max-height: 450px;
        width: 35vw;
        height: 35vw;
    }

    #tutor_content div h2{
        font-size: 19px;
        font-weight: 700;
    }
    
    #tutor_content div p{
        font-size: 16px;
        font-weight: 400;
        color:  #707070;   
    }
}


@media screen and (max-width: 1200px){
    #tutor_info #img_box {
        width: 400px;
        min-width: 400px;
    }
    #tutor_info #img_box img{
        min-width: 400px;
        min-height: 400px;
        max-width: 400px;
        max-height: 400px;
        width: 35vw;
        height: 35vw;
    }
    #tutor_content div{
        width: 45%;
        max-width: 350px;
        max-height: 220px;
    }
    
    #tutor_content div #icon_box {
        width: 60px;
        height: 60px;
        border-radius: 21px;
    }
    #tutor_content div #icon_box img {
        width: 29px;
    }
    #tutor_content div h2{
        font-size: 18px;
        font-weight: 700;
    }
    
    #tutor_content div p{
        font-size: 14px;
        font-weight: 400;
        color:  #707070;   
    }



}





@media screen and (max-width: 970px){
    #infos #tutor_info {
        padding: 0 5vw;
    }
    #tutor_content div {
        margin-right: 0;
        width: 45%;
        max-width: 350px;
        max-height: 220px;
        margin-right: 0;
    }
    #tutor_info #tutor_content{
        flex-direction: column;
        align-items: center;
        padding: 60px 0 0 0;
        max-height: none;
    }
    #tutor_info #tutor_content div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 85vw;
        max-width: 500px;
        max-height: none;
    }   
    #tutor_content div #icon_box {
        width: 62px;
        height: 62px;
    }
    #tutor_content div #icon_box img{
        width: 32px;
    }

    #tutor_content div h2{
        font-size: 20px;
        font-weight: 700;
        margin: 15px 0 5px 0;
    }
    
    #tutor_content div p{
        font-size: 17px;
        margin: 5px 0;
        max-width: 450px;
    }
    #tutor_info #img_box {
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 625px){
    #tutor_info #img_box {
        min-width: 0px;
    }
    #tutor_info #img_box img{
        width: 60vw;
        height: 60vw;
        min-width: 0px;
        min-height: 0px;
        max-width: 400px;
        max-height: 400px;
    }

    #tutor_info #tutor_content{
        flex-direction: column;
        padding: 0;
    }
    #tutor_content div h2{
        font-size: 13px;
        font-weight: 700;
        margin: 15px 0 5px 0;
    }
    
    #tutor_content div p{
        font-size: 11px;
        margin: 5px 0;
        max-width: 300px;
    }
    #tutor_content div #icon_box {
        width: 46px;
        height: 46px;
        border-radius: 12.32px;
    }
    #tutor_content div #icon_box img{
        width: 20px;
    }
}

@media screen and (max-width: 570px){
    #tutor_info #tutor_content {
        flex-direction: column;
        padding: 30px 0 0 0;
    }
    #tutor_info #img_box img{
        width: 80vw;
        height: 80vw;
        min-width: 280px;
        min-height: 280px;
    }

}