*, *:before, *:after{ 
    box-sizing: border-box; 

}
body{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-x: hidden;
}
@font-face {
    font-family: SfProMed;
    src: url(./Medium.otf);
}
@font-face {
    font-family: SfProReg;
    src: url(./SFreg.OTF);
}
@font-face {
    font-family: SfProBold;
    src: url(./SFbold.OTF);
}
@font-face {
    font-family: SfProThin;
    src: url(./thin.otf);
}

@font-face {
    font-family: SfProBold2;
    src: url(./bold.otf);
}
@font-face {
    font-family: Logo;
    src: url(./SF-Pro-Display-Black.otf);
}


/* @font-face {
    font-family: SfProMed;
    src: url(../fonts/SfPro/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
    font-family: SfProReg;
    src: url(../fonts/SfPro/SFPRODISPLAYREGULAR.OTF);
} */